.metadata/*
InFlight/.settings/*
*.apk
*.ap_
*.dex
*.class
InFlight/bin/
InFlight/gen/
InFlight/local.properties
InFlight/.classpath
InFlight/.project
InFlight/proguard/
*.aux
*.bbl
*.blg
*.log
*.pdf
*.gz
*.classpath
*.project
google-play-services_lib